nav {
  border: 3px solid #555555;
  border-radius: 8px;
  background-color: gray;
  margin: 0;
  padding: 3px;
  width: 100%;
  height: 10%;
}

ul {
  padding: 0;
  display: inline;
  font: normal 16px Arial, HelVetica, sans-serif;
}
li {
  display: inline;
  font: normal 16px Arial, HelVetica, sans-serif;
  padding: 0px 2px;
  margin: 8px;
  background: #2c2c2c;
  border: 3px solid #2c2c2c;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: chartreuse;
}

h1 {
  margin: 16px 0px;
  padding: 0;
}
header {
  font: normal 16px Arial, HelVetica, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background: lightsteelblue;
  font: normal 16px Arial, HelVetica, sans-serif;
  line-height: 1.2em;
  margin: 8px;
  padding: 8px;
}

.meWithBeer {
  width: 100%;
  max-width: 500px;
  border: 4px solid;
  border-radius: 4px;
}

.btn {
  border-right: 3px solid white;
  border-left: 3px solid #808080;
  border-top: 3px solid white;
  border-bottom: 3px solid black;

  background-color: lightgray;
  color: black;
  cursor: pointer;
  margin-right: 32px;
}
.btn:hover {
  color: chartreuse;
  background: darkgray;
  border-left: 3px solid lightgray;
  border-right: 3px solid gray;
  border-bottom: 3px solid lightgray;
  border-top: 3px solid gray;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  max-width: 500px;
}

.inline {
  display: inline;
  width: auto;
}

/*Media Queries*/

/*
// Smartphones (portrait)
minimal width : 320px;

// Tablets (portrait)
minimal width : 768px

// Desktop 
minimal width : 1024px
*/
@media screen and (max-width: 500px) {
  header,
  body {
    font-size: 16px;
  }
  li {
    font-size: 14px;
  }
}

@media screen and (min-width: 500px) {
  header,
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  header,
  body {
    font-size: 12px;
    max-width: 1024px;
  }
}
