body {
  background-color: #9090ff;
  color: #550000;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* Same as above*/
  font: normal 16px Arial, HelVetica, sans-serif;

  line-height: 1.2em;
  margin: 16px;
  padding: 16px;
}
a {
  text-decoration: none;
  color: #550000;
}
a:hover {
  color: chartreuse;
}
.black-border {
  border: 5px solid black;
  border-radius: 15px;
  padding: 5px;
  color: #330000;
}
h3 {
  color: #330000;
}

header {
  background-color: #34edf7;
  color: #700000;
  font: strong Arial, HelVetica, sans-serif;
  padding: 10px;
  margin: auto;
  border: 5px solid black;
  border-radius: 15px;
  font: normal 16px Arial, HelVetica, sans-serif;
}

.myImage {
  float: left;
  margin-right: 20px;
  max-height: 175px;
}

label, input, textarea{
    display: block;
    width: 250px;

}

.inline{
    display: inline;
    width: auto;
}


/*Media Queries*/

/*
// Smartphones (portrait)
minimal width : 320px;

// Tablets (portrait)
minimal width : 768px

// Desktop 
minimal width : 1024px
*/

@media screen and (max-width: 500px) {
  .favBeer {
    max-height: 200px;
  }
  .myImage {
    max-height: 100px;
  }

  header,
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 500px) {
  .favBeer {
    max-height: 600px;
  }
  .myImage {
    max-height: 220px;
  }

  header,
  body {
    font-size: 19px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    color: #000050;
  }
  h3 {
    color: #000050;
  }
  .favBeer {
    max-height: 400px;
  }
  .myImage {
    height: 140px;
  }

  header,
  body {
    font-size: 13px;
    background-color: #008080;
    color: #000080;
    line-height: 1.2em;
  }
  a {
    text-decoration: none;
    color: #000080;
  }
  a:hover {
    color: #00ff00;
  }
}
