body {
  background-color: #9090ff;
  color: #550000;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* Same as above*/
  font: normal 16px Arial, HelVetica, sans-serif;

  line-height: 1.2em;
  margin: 16px;
  padding: 16px;
}
h2 {
  color: #330000;
}

h3 {
  color: #330000;
}

header {
  background-color: #34edf7;
  color: #700000;
  font: strong Arial, HelVetica, sans-serif;
  padding: 16px;
  margin: auto;
}
