nav {
  border: 3px solid #555555;
  background-color: gray;
  margin: 0;
  width: 100%;
  height: 10%;
}

ul {
  padding: 0;
  display: inline;
  font: normal 16px Arial, HelVetica, sans-serif;
}
li {
  display: inline;
  font: normal 16px Arial, HelVetica, sans-serif;
  margin: 8px;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: chartreuse;
}


h1 {
  margin: 16px 0px;
  padding: 0;
}
header {
  font: normal 16px Arial, HelVetica, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background: lightsteelblue;
  font: normal 16px Arial, HelVetica, sans-serif;
  line-height: 1.2em;
  margin: 8px;
  padding: 8px;
}

/*Media Queries*/

/*
// Smartphones (portrait)
minimal width : 320px;

// Tablets (portrait)
minimal width : 768px

// Desktop 
minimal width : 1024px
*/
@media screen and (max-width: 500px) {
  header,
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  header,
  body {
    font-size: 19px;
  }
}
@media screen and (min-width: 1024px) {
  header,
  body {
    font-size: 12px;
  }
}
