body {
  background-color: #666666;
  color: #222;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* Same as above*/
  font: normal 16px Arial, HelVetica, sans-serif;

  line-height: 1.6em;
  margin: 16px;
}

header {
  background-color: green;
  color: rgb(255, 0, 0);
  font: strong 25px Arial, HelVetica, sans-serif;
}
